{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa reseptiä Herkullinen Linssikeitto</h1>

  <form>
   
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Herkullinen Linssikeitto">
    </div>
    <div class="form-group">
      <label>Ainekset</label>
      <input type="text" class="form-control" value="linssi,keitto,kasvis">
    </div>
    <div class="form-group">
      <label>Ainekset</label>
      <input type="text" class="form-control" value="linssit">
    </div>
    <div class="form-group">
      <label>Ohjeet</label>
      <textarea class="form-control">
      Laita linssit ja liemi
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}