{% extends "base.html" %}
{% block content %}
  <h1>Herkullinen Linssikeitto</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tunnisteet:</strong> linssi,keitto,kasvis</li>
    <li><strong>Julkaisija:</strong> käyttäjä Kape</li>
   
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Lisää linssit ja liemi.
  </p>
{% endblock %}