{% extends "base.html" %}
{% block content %}
  <h1>The Elder Scrolls V: Skyrim</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> 11.11.2011</li>
    <li><strong>Julkaisija:</strong> Bethesda Softworks</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    The Elder Scrolls V: Skyrim on Bethesda Softworksin kehittämä ja vuonna 2011 Xbox 360:lle, PlayStation 3:lle ja Microsoft Windowsille julkaisema The Elder Scrolls -tietokoneroolipelisarjan videopeli. Skyrim on The Elder Scrolls -sarjan viides osa.
  </p>
{% endblock %}