{% extends "base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger">
 {{error}}
</div>
{% endif %}
{% if message %}
<div class="alert alert-success">
 {{message}}
</div>
{% endif %}
<h1>Etusivu</h1>
<h1></h1>
<p>Tervetuloa NytOn-keittokirjan pariin! Tarvitsetko inspiraatiota keittiöön? </p>
<p>Olet tullut oikeaan paikkaan.</p>
<p>Tarkastele muiden käyttäjien tekemiä reseptejä ja raaka-aineita sekä lisää kirjautuneena käyttäjänä omiasi sivustolle talteen.</p>
{% endblock %}