{% extends "base.html" %}
{% block content %}
  <h1>Reseptit</h1>
{% if error %}
<div class="alert alert-danger">
 {{error}}
</div>
{% endif %}
{% if message %}
<div class="alert alert-success">
 {{message}}
</div>
{% endif %}
  <p>
    <a href="{{base_path}}/resepti/uusi" class="btn btn-success">Lisää resepti</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kokkaaja</th>
        <th>Ainekset </th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan reseptit tähän -->
      {% for resepti in reseptit %}
      <tr>
        <td><a href="{{base_path}}/resepti/{{resepti.id}}">{{resepti.name}}</a></td>
        <td><a href="{{base_path}}/kokkaaja/{{resepti.kokkaaja_id}}">{{resepti.kokkaajaNimi}}</a></td>
        <td>
        {% for aines in resepti.ainekset%}
      
        <a href="#">{{aines.raakaaine_id}}</a>

        {% endfor %}
        </td>
        <td>{{resepti.lisatty}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/resepti/{{resepti.id}}/edit">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}