{% extends "base.html" %}
{% block content %}
  <h1>Reseptit</h1>

  <p>
    <a href="{{base_path}}/resepti/uusi" class="btn btn-success">Lisää resepti</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kokkaaja</th>
        <th>Ainekset</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan reseptit tähän -->
      {% for resepti in reseptit %}
      <tr>
        <td><a href="{{base_path}}/resepti/{{resepti.id}}">{{resepti.name}}</a></td>
        <td><a href="{{base_path}}/kokkaaja/{{resepti.kokkaaja_id}}">{{resepti.kokkaajaNimi}}</a></td>
        <td><a href="#">siitä yhdistävästä taulusta haetut raaka-aineet listattuna</a></td>
        <td>{{resepti.lisatty}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/resepti/{{resepti.id}}/edit">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}